<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/student.css}" />
    <title>Student List</title>
</head>
<body>

<div class="container">
    <h1>Student List</h1>
    <ul class="student-list">
        <li th:each="student : ${students}">
            <a th:href="@{/student/details/{code}(code=${student.code})}" class="student-link">
                <span th:text="${student.name}">Name</span> -
                <span th:text="${student.code}">Code</span> -
                <span th:text="${student.program}">Program</span>
            </a>
        </li>
    </ul>

    <h2>Add a Student</h2>
    <form class="student-form" th:action="@{/student}" method="post" th:object="${student}">
        <label for="name">Name:</label>
        <input th:field="*{name}" type="text" id="name" name="name" required>

        <label for="code">Code:</label>
        <input th:field="*{code}" type="text" id="code" name="code" required>

        <label for="program">Program:</label>
        <input th:field="*{program}" type="text" id="program" name="program" required>

        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>